@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 150 100% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 7% 97%;
    --secondary-foreground: 0 0% 0%;
    --muted: 40 7% 97%;
    --muted-foreground: 0 0% 42%;
    --accent: 40 7% 97%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 76% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 40 7% 91%;
    --input: 40 7% 91%;
    --ring: 150 100% 33%;
    --chart-1: 150 100% 33%;
    --chart-2: 38 92% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
